<div class="container">
  <div class="row">
    <h1>My Cart</h1>
  </div>
  <div class="row border border-3 border-dark align-items-center mt-1"
    *ngFor="let item of items | keyvalue">
    <div class="col-2">
      <img [src]="item.value.uri" [alt]="item.value.alt">
    </div>
    <div class="col-3">
      <p class="itemlabel">{{item.key}}</p>
    </div>
    <div class="col-4">
      <p class="quantity">Quantity: {{item.value.count}}</p>
    </div>
    <div class="col-3">
      <button (click)="removeFromCart(item.key)">Remove</button>
    </div>
  </div>
</div>
